.doctor-wrapper {
    margin: 1% 1% 1% 1%;
}

.doctor-heading {
    margin: 1% 1% 1% 1%;
    font-size: 30px;
    font-weight: bold;
}

.Availability{
    margin:2%;
    padding:1%;
}


.Appointments{
    margin:2%;
    padding:1%;
}

.Review{
    margin:2%;
    padding:1%;
}

.AddPatientProfile{
    margin:2%;
    padding:1%;
  }