.systemAdmin-wrapper {
    margin: 1% 1% 1% 1%;
}

.systemAdmin-heading {
    margin: 1% 1% 1% 1%;
    font-size: 30px;
    font-weight: bold;
}

.systemAdmin-button {
    margin: 1% 1% 1% 1%;
}
.AddHospitalAdmin{
    margin:2%;
    padding:1%;
}
.AddHospital{
    margin:2%;
    padding:1%;
}
.RemoveHospital{
    margin:2%;
    padding:1%;
}
.RemoveHospitalAdmin{
    margin:2%;
    padding:1%;
}