.searchDoctor-wrapper {
    margin: 1% 0% 1% 0%;
}

.searchDoctor-button {
    margin: 1% 0% 1% 1%;
}

.searchDoctor-input {
    margin: 0% 0% 1% 2%;
}

.searchDoctor-form {
    border: 1px solid;
    margin: 1% 70% 1% 0%;
    padding: 1%;
}

.displayDoctor-wrapper {
    border: 1px solid;
    margin: 1% 70% 1% 0%;
    padding: 1%;
}