.RegisterforHospitaladmin{
    margin:2%;
    padding:1%;
}

.RegisterforPatient{
    margin:2%;
    padding:1%;
}

.RegisterforDoctor{
    margin:2%;
    padding:1%;
}

.RegisterWrapper{
    margin: 1% 1% 1% 1%;
}

.RegisterHome{
    margin: 1% 1% 1% 1%;
    font-size: 20px;
}

.register-button{
    margin: 1% 1% 1% 1%;
}
